#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT_LAYER 0
#define FN_LAYER 1
#define HW_LAYER 2

/ {
    behaviors {
        th_hold: hold_preferred_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "hOLD_MODS";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6              &th_hold LGUI UP        &th_hold RGUI PG_UP   &kp ENTER           &kp N7  &kp N8  &kp N9     &kp N0   &kp MINUS  &kp EQUAL
    &kp TAB    &kp Q   &kp W   &kp E   &kp R   &kp T   &th_hold LALT LBKT  &th_hold LALT RIGHT     &th_hold RCTRL PG_DN  &th_hold RALT RBKT  &kp Y   &kp U   &kp I      &kp O    &kp P      &kp BSLH
    &kp ESC    &kp A   &kp S   &kp D   &kp F   &kp G   &kp SPACE           &th_hold LCTRL DOWN     &th_hold RSHFT HOME   &kp SPACE           &kp H   &kp J   &kp K      &kp L    &kp SEMI   &kp SQT
    &none      &kp Z   &kp X   &kp C   &kp V   &kp B   &lt FN_LAYER BSPC   &th_hold LSHFT LEFT     &th_hold RALT END     &lt FN_LAYER DEL    &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH   &none
            >;
        };

        fn_layer {
            bindings = <
    &trans     &kp F1      &kp F2    &kp F3       &kp F4      &kp F5      &kp F6        &trans     &trans &kp INS       &kp F7   &kp F8    &kp F9    &kp F10  &kp F11   &kp F12
    &trans     &trans      &trans    &trans       &trans      &trans      &trans        &trans     &trans &trans        &trans   &trans    &trans    &trans   &trans    &trans
    &kp ENTER  &kp K_PREV  &kp K_PP  &kp K_STOP2  &kp K_NEXT  &trans      &mo HW_LAYER  &trans     &trans &mo HW_LAYER  &trans   &trans    &trans    &trans   &trans    &trans
    &trans     &trans      &trans    &trans       &trans      &kp K_MENU  &trans        &trans     &trans &trans        &trans   &trans    &trans    &trans   &trans    &trans
            >;
        };
    
        hw_layer {
            bindings = <
    &bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans  &trans  &bt BT_CLR     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bootloader
    &trans       &trans        &trans        &trans        &trans  &trans  &trans  &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &kp ESC      &trans        &trans        &trans        &trans  &trans  &trans  &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans       &trans        &trans        &trans        &trans  &trans  &trans  &trans         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
